DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=replace-this-for-production

CONTROL_PANEL_NAME=AegisConnect Control Panel
GO_API_BASE_URL=http://localhost:8081/v1
GO_HEALTH_BASE_URL=http://localhost:8081
GO_ADMIN_USER=control-panel
GO_API_TIMEOUT_SEC=8

